.container__header-button {
  height: 22px;
  width: 50px;
  background-color: #fff;
  border: none;
  border-left: 1px solid #999;
  cursor: pointer;
}
.container__header-button:active {
  color: #999;
}
.container__header-text {
  margin: 40px 0 40px 40px;
  height: 20px;
  width: 300px;
  border: none;
}
.container__header-text:focus {
  outline: none;
}
