.container__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.container__checkbox {
  width: 20px;
  height: 20px;
}
.container__checkbox--big {
  width: 500px;
  height: 500px;
}
