.container__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 900px;
  height: 200px;
}
.container__radio-button {
  margin-left: 10px;
  height: 20px;
  width: 50px;
  cursor: pointer;
}
.container__radio-button:focus {
  outline: none;
}
.container__text {
  width: 200px;
  height: 50px;
  text-align: left;
}